@import 'src/common/styles/sass/mixins';

.header {
  height: 90px;
  position: fixed;
  width: 100%;
  background: $headerBgColor;
  z-index: 1000;
  display: flex;

  .container {
    @include flexBox(flex, row, center, space-between, null);

    color: white;
    width: 80%;
    margin: 30px auto;

    .logo {
      @include text($titleFontFamily, 14px, 28px, $primaryColor, 700);
      letter-spacing: 5px;
    }

    .nav {
      width: 300px;
      display: flex;
      justify-content: space-between;

      a {
        @include text($titleFontFamily, 14px, 28px, white, 500);
        text-decoration: none;
        cursor: pointer;

        &:hover {
          color: $primaryColor;
        }
      }

      .active {
        color: $primaryColor;
      }
    }

  }
  @media screen and (max-width: 400px) {
    display: none;
  }
}