@import 'src/common/styles/sass/mixins';

.header {
  height: 90px;
  position: fixed;
  width: 100%;
  background: $headerBgColor;
  z-index: 1000;

  .container {
    @include flexBox(flex, row, center, space-between, null);
    color: white;
    margin: 0 42px 0;
    height: 100%;

    .logo {
      @include text($titleFontFamily, 14px, 28px, $primaryColor, 700);
      letter-spacing: 5px;
    }

    .navItems {
      transform: translate(0, -152px);
      background-color: $headerBgColor;
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      transition: 0.7s;

      .nav {
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 10px;

        a {
          @include text($titleFontFamily, 14px, 28px, white, 500);
          text-decoration: none;
          cursor: pointer;

          &:hover {
            color: $primaryColor;
          }
        }

        .active {
          color: $primaryColor;
        }
      }
    }

    .show {
      transform: translate(0, 0)
    }

    .burgerBtn {
      z-index: 1000;
      position: relative;
      display: block;
      width: 25px;
      height: 15px;
      border-top: 3px solid $primaryColor;
      border-bottom: 3px solid $primaryColor;
    }

    .burgerBtn:before {
      content: "";
      position: absolute;
      top: 6px;
      left: 0;
      width: 100%;
      border-top: 3px solid $primaryColor;
    }

    .crossBtn {
      position: relative;
      display: block;
      z-index: 1;
      cursor: pointer;
    }

    .crossBtn:before {
      right: -1px;
      top: -29px;
      content: '+';
      color: $primaryColor;
      position: absolute;
      z-index: 1000;
      transform: rotate(45deg);
      font-size: 50px;
      font-weight: lighter;
    }
  }

  @media screen and (min-width: 400px) {
    display: none;
  }
}