.footer {
    background-color: #d7faf0;
}

.footerContainer {
    flex-direction: column;
}

.pryamougolnik {
    height: 50px;
    max-width: 350px;
    width: 100%;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.kvadratik {
    height: 50px;
    width: 50px;
    background-color: #c1c7cc;
}